page-page2 {
  .title {
    white-space: normal;
  }
  .card-md {
    max-width: 1024px;
    margin: 0 auto;
  }
  @media (min-width: 767px) {
    .card-md {
      img {
        float: left;
        padding: 15px;
        width: 300px;
      }
      ion-card-content {
        background-color: $gray-darker;
        min-height: 150px;
      }
      .episodes {
        width: 59%
      }
    }
  }
  @media (min-width: 1024px) {
    .card-md {
      .episodes {
        width: 70%
      }
    }
  }
}